*~
*.o
*.ali
*.cswi
*.pyc
*.ci
*-loc.xml
gnatinspect.db
b__*.ad[bs]
.#*
install
**/arm-eabi
test/main
test/main.s
gpsauto.cgpr
*.stderr
*.stdout
*.db*
*.bexch
main
main.s
map.txt

cortex-ar/zynq7000/ravenscar-full/obj/

# binary
scenari/scenario_0/obj/scenario_0
scenari/scenario_1/obj/scenario_1
scenari/scenario_2/obj/scenario_2
scenari/scenario_3/obj/scenario_3
scenari/scenario_4/obj/scenario_4
scenari/scenario_5/obj/scenario_5
scenari/scenario_6/obj/scenario_6
scenari/scenario_7/obj/scenario_7
scenari/scenario_8/obj/scenario_8
scenari/scenario_9/obj/scenario_9
scenari/scenario_10/obj/scenario_10
scenari/scenario_11/obj/scenario_11
scenari/scenario_*/obj/resident_sw

*.s

*.a

*.db

